[Unit]
Description="Auto Download Bing wallpaper Service"
After=network.target

[Service]
Type=simple

ExecStart=/usr/local/bin/bing-wallpaper -o /usr/local/share/wallpaper/

[Install]
WantedBy=multi-user.target
